.titleBar{
    background-image: url('./assets/images/banner.jpg');
    width:100vw;
    height:15vh;
}

#title{
    color: white;
    align-self:center;
}
.headerBar{
    background-color: darkslategray;
    width:100vw;
}

/* ====================== */
/* === Content area === */